.layout {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.layout__image {
	align-items: flex-end;
	background: url('/images/auth-background.jpg') no-repeat;
	background-size: cover;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.layout__page {
	align-items: center;
	background-color: #1b2028;
	display: flex;
	flex: 1;
	justify-content: center;
}

.login__container {
	display: flex;
	flex-direction: column;
}

.login__heading {
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 4px;
	text-align: center;
}

.login__form {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

.login__form--control {
	width: 450px;
}
