:host.auth-layout {
	align-items: center;
	background: #f0f2f5;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 24px;
	width: 100%;
}

.auth-layout {
	&__container {
		border-radius: 12px;
		box-shadow: 0 8px 24px rgb(0 0 0 / 5%);
		max-width: 400px;
		padding: 40px;
		width: 100%;
	}
}
