# Зависимости
node_modules/
.pnpm-debug.log*

# Сборка
dist/
build/
.angular/

# Логи и временные файлы
npm-debug.log
.tmp/
.cache/

# Настройки IDE
.vscode/
*.swp
*.DS_Store

# Angular
/dist/
/out-tsc/
/tmp/
/.angular/
.angular/

# Environment файлы
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# App
/app