{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"bracketSameLine": true,
	"singleQuote": true,
	"printWidth": 88,
	"plugins": [],
	"overrides": [
		{
			"files": [
				"*.html",
				"*.component.html"
			],
			"options": {
				"parser": "angular",
				"printWidth": 88,
				"singleAttributePerLine": true
			}
		}
	]
}