<footer class="footer">
	<div class="footer-content">
		<div class="footer-section">
			<div class="logo">Евгений Воловликов</div>
			<p>Обучающая плафторма</p>
		</div>

		<div class="footer-section">
			<h4>Навигация</h4>
			<nav class="footer-nav">
				<a
					class="footer-nav__link"
					routerLink="/"
					>Главная страница</a
				>
				<a
					class="footer-nav__link"
					routerLink="/about"
					>О нас</a
				>
			</nav>
		</div>

		<div class="footer-section">
			<h4>Контакты</h4>
			<p>info@example.com</p>
		</div>
	</div>

	<div class="footer-bottom">&copy; 2026 MyProject. Все права защищены.</div>
</footer>
