<div class="sidebar-layout">
	<aside
		class="sidebar"
		[class.sidebar--collapsed]="collapsed()"
		[attr.aria-expanded]="!collapsed()"
	>
		<button
			(click)="onToggle()"
			class="sidebar__toggle"
			type="button"
		>
			{{ collapsed() ? '>' : '<' }}
		</button>
		<nav class="sidebar__nav">
			@for (link of links(); track link.route) {
				<a
					[routerLink]="link.route"
					routerLinkActive="sidebar__link--active"
					class="sidebar__link"
				>
					<span class="sidebar__icon">{{ link.icon }}</span>
					<span class="sidebar__text">{{ link.label }}</span>
				</a>
			}
		</nav>
	</aside>

	<div class="sidebar-layout__content">
		<ng-content />
	</div>
</div>
