:host {
	background-color: #31353f;
	color: #fff;
	display: flex;
	flex: 1 1 auto;
	height: 100vh;
}

.block__start {
	align-items: center;
	background: #1b2028;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 236px;
	padding: 1rem;
	width: 236px;
}

.start__menu {
	align-items: center;
	display: flex;
	flex: 1 auto;
	flex-direction: column;
	justify-content: flex-start;
}

.start__exit-menu {
	margin-bottom: 1.5rem;
}

.block__end {
	display: flex;
	flex-direction: column;
	flex-grow: 1; /* Чтобы блок занял всё оставшееся место справа */
	padding: 1rem;
	width: 100%;
}

.end__container {
	flex-grow: 1; /* Чтобы контейнер для router-outlet тоже растянулся */
	position: relative;
}
