.auth-form {
	display: flex;
	flex-direction: column;
	width: 100%;

	// Добавь эти стили для заголовка и футера
	&__title {
		color: #000;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: -1px;
		margin: 0 0 32px; // Отступ снизу
		text-align: center; // Центрируем текст заголовка
		width: 100%;
	}

	&__field,
	&__actions {
		margin-bottom: 12px; // Расстояние между инпутами
		width: 100%;

		app-input,
		app-button {
			display: block;
			width: 100%;
		}
	}

	&__footer {
		align-items: center;
		color: #000;
		display: flex;
		font-size: 14px;
		gap: 8px;
		justify-content: center;
		margin-top: 24px;
	}

	&__link {
		color: #000;
		font-weight: 700;
		text-decoration: underline;
	}

	&__error {
		color: #f00;
		display: block;
		font-size: 12px;
		margin-top: 4px;
	}
}
